# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
ImmersiveRailroading-1.6.1_1.12-1138.jar
TrackAPI-1.1_1.12.jar